<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="PT-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <header> <h1>Login</h1></header>
    <nav></nav>

    <main>
        <div >
            <form id="formLogin" action="usuarioCont.php" method="post">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" placeholder="Digite seu email" maxlength="60"><br><br>
                <label for="senha" >Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
                <button class="button" onclick="logarUsuario()">Login</button>

            </form>
        </div>
    </main>

    <aside></aside>
    <footer></footer>

</body>
</html>